<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de notas</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/pico.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos_propios.css')}}">
</head>
<body>
    <h1>Acerca de la app de notas</h1>
    <P>Esta es una app creada por los alumnos de segundo año de bachillerato del año 2023 junto a su profesor "Avismael Fernando Argueta Arevalo"</P>
    <li><a href="{{url_for('logout')}}" class="link"><span class="material-symbols-outlined">
        logout
    </span> Salir</a></li>




    <footer class="grid">
        <div></div>
        <div><p style="text-align: center;">@Informatica2023</p></div>
        <div></div>
    </footer>
</body>
</html>