<!--nueva_nota.html-->>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Probando Librearias CSS</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/pico.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos_propios.css')}}">
    <link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li><strong>Brand</strong></li>
            </ul>
            <ul>
                <li><a href="{{url_for('listar')}}" role="button" class="outline">Ver notas</a></li>
                <li><a href="{{url_for('logout')}}" class="link"><span class="material-symbols-outlined">
                    logout
                </span> Salir</a></li>
            </ul>
        </nav>
        <!-- Main -->
        <main class="container">
            <section class="grid">

                <div>
                    <hgroup>
                        <h1>Nueva nota</h1>
                        <h2></h2>
                    </hgroup>
                    <form method="post" action="/crear">
                        <label for="titulo">Titulo de la nota:</label>
                        <input type="text" name="titulo" required />
                        <label for="contenido">Escribe aqui el contenido de la nota</label>
                        <textarea style="resize: none;"  name="contenido" rows="5" cols="33"></textarea>
                        <button type="submit">Guardar nota</button>
                        <a href="/listar" role="button" class="secondary">Cancelar </a>
                    </form>
                </div>
            </section>
        </main>
        <!-- ./ Main -->

    </div>
    <footer class="grid">
        <div></div>
        <div><p style="text-align: center;">@Informatica2023</p></div>
        <div></div>
    </footer>
</body>

</html>